<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Add employees</title>
</head>
<body>

<h1>Add Employee Details here...</h1>
<br>
<hr>
<form th:action="@{/addemp}" th:object="${employee}" method="post">
<p>Employee id : <input type="number" name="emp_id"/> </p>
<p>age : <input type="number" name="age"/> </p>
<p>forename : <input type="text" name="forename"/> </p>
<p>surname : <input type="text" name="surname"/> </p>
<p>postcode : <input type="text" name="postcode"/> </p>
<p><input type="submit" value="Add Emp"/>
</form>
</body>
</html>