<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Employees</title>
</head>
<body>
<div style="text-align:center;">
<br>
<table border="1">
<caption>Employees table</caption>
<tr>
 <th id="id">Empployee ID</th>
     <th id="age">Age</th>
     <th id="fname">Forename</th>
     <th id="sname">Surname</th>
     <th id="pcode">Postcode</th>
	<th id="action">Action</th>
</tr>
<tr th:each="emp : ${Emp}">                                 
<td th:text="${emp.id"></td>
<td th:text="${emp.age"></td>
<td th:text="${emp.forename"></td>
<td th:text="${emp.surname"></td>
<td th:text="${emp.postcode"></td>
</tr>

</table>
</div>
</body>
</html>